<div id="home-view-container">
    <div class="index-header">
        <h1 class="home-header">Hello, world!</h1>
        <p>Oh, the places you've been...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/cities">Where did you go?</a>
        </p>
    </div>
</div>