<div id="home-view-container">
    <div class="container">
        <div class="index-header">
            <h1 class="home-header">Hello World</h1>
            <p>"Traveling. It leaves you speechless, then turns you into a storyteller." - Ibn Battuta</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/cities">Tell the world</a>
            </p>
            
        </div>
    </div>
</div>