<h1 class="all-cities">
    ALL CITIES
</h1>
<div id="cities-view-container">
    <ul>
        <% @cities.each do |city| %>
            <li class="cards">
                <h2>
                    <%= image_tag city.picture, :class => "cities-image" %> <br>
                        <%= link_to city.name, city %>
                </h2>
            </li>
            <% end %>
    </ul>

</div>