<div id="cities-view-container">
    <h1>ALL CITIES</h1>
    <ul>
        <% @cities.each do |city| %>
            <li>
                <h2>
                    <%= image_tag city.picture, :class => "image" %>
                    <%= link_to city.name, city %>
                </h2>
            </li>
        <% end %>
    </ul>
    
</div>
