// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
    max-height: 400px;
    min-height: 400px;
}

.cities-image {
    width: 1000px;
}
#cities-view-container {
    text-align: center;
    padding: 5em 0;
    text-align: center;
}

.show-city {
    font-size: 72px;
    text-align: center;
}

ul {
    padding: 0;
}

.cards {
    padding: 3em 18em;
    list-style: none;
    width: 100%;
    text-align: center;
}

.cards:nth-child(even) { 
    background: #f2efef; 
}

 .links {
     text-align: right;
 }

 .content {
     width: 700px;
     margin: 25px auto;

 }
