// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
    max-height: 400px;
    min-height: 400px;
}

.cities-image {
    width: 1000px;
}
#cities-view-container {
    text-align: center;
    padding: 5em 0;
}

h1 {
    font-size: 72px;
}

ul {
    padding: 0;
}

.cards {
    padding: 30px;
    background-color: #e2e2e2;
    list-style: none;
    width: 100%;
}

<<<<<<< HEAD
.cards:nth-child(even) { 
    background: #f2efef; 
}

 .links {
     text-align: right;
 }

 .content {
     width: 700px;
     margin: 25px auto;

 }
=======
.cards:nth-child(even) { background: white; 
}

>>>>>>> 7f7746e5e7bb6e2c3ed9f312ab386e1508cf1fa6
